html {
font-family: Helvetica;
display: inline-block;
margin: 0px auto;
text-align: center;
}
body {
margin-top: 50px;
background-color: #D3C7AD;
 background: linear-gradient(45deg, #D3C7AD 10%, #202020 25%, #202020 50%, #D3C7AD 50%, #D3C7AD 70%, #202020 75%);
 background-size:98px 98.9px;
 color: #E0E0E0;
}
h1 {
/color: #444443;
margin: 25px auto 30px;
    text-shadow: #7e6005 4px 4px 4px;
}
h3 {
/color: #444444;
margin-bottom: 50px;
    text-shadow: #7e6005 3px 3px 3px;
}
table {
background-color: rgba(0,0,0,0.35);
width:100%;
Zmargin-left:auto;
Zmargin-right:auto;
text-align: left;
}
.right {
color: #FFFFFF;
text-align: right;
}
.nodeco {
text-decoration: none;
color: #E0E0E0;
}
.nodeco:hover {
color: #FFFFFF;
}

.ssid:hover {
	color:#FFFFFF; 
}
.ssid {
	color: #E0E0E0;;
}

.button {
    display: inline-block;
	width: 300px;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 2px solid #948b79;
    border-radius: 8px;
    background: #f3e5c7;
    background: -webkit-gradient(linear, left top, left bottom, from(#f3e5c7), to(#948b79));
    background: -moz-linear-gradient(top, #f3e5c7, #948b79);
    background: linear-gradient(to bottom, #f3e5c7, #948b79);
    text-shadow: #6a6457 2px 2px 1px;
    font: normal normal normal 22px arial;
    color: #ffffff;
    text-decoration: none;
}
.button:hover,
.button:focus {
    border: 2px solid #d3c7ad;
    background: #ffffef;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffef), to(#b2a791));
    background: -moz-linear-gradient(top, #ffffef, #b2a791);
    background: linear-gradient(to bottom, #ffffef, #b2a791);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #948b79;
    background: -webkit-gradient(linear, left top, left bottom, from(#948b79), to(#948b79));
    background: -moz-linear-gradient(top, #948b79, #948b79);
    background: linear-gradient(to bottom, #948b79, #948b79);
}
p {
font-size: 20px;
color: #888;
margin-bottom: 10px;
}
